.js-button{
  background-color: rgb(230,230,230);
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.is-toggled{
  background-color: black;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}
